* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.calender {
    display: block;
    float: right;
    margin: 80px;
    width: 300px;
    height: fit-content;
    border: 1px solid blue;
}

.month {
    padding: 10px 25px;
    width: 100%;
    height: 30%;
    background: #3377d5;
    text-align: center;
}

.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.month .prev {
    float: left;
    padding-top: 10px;
}

.month .next {
    float: right;
    padding-top: 10px;
}

.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;
    font-size: 8px;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: disc;
    display: inline-block;
    width: 13%;
    text-align: center;
    margin-bottom: 5px;
    font-size: 15px;
    color: #777;
}

.days li .active {
    padding: 5px;
    background: #1abc9c;
    color: white !important
}


/* Add media queries for smaller screens */

@media screen and (max-width:720px) {
    .weekdays li,
    .days li {
        width: 13.1%;
    }
}

@media screen and (max-width: 420px) {
    .weekdays li,
    .days li {
        width: 12.5%;
    }
    .days li .active {
        padding: 2px;
    }
}

@media screen and (max-width: 290px) {
    .weekdays li,
    .days li {
        width: 12.2%;
    }
}

body {
    padding: 0px;
    margin: 0px;
}

.flexbox-container {
    display: flex;
}

.flexbox-item {
    width: 200px;
    margin: 10px;
    border: 3px solid white;
    background-color: #dfdfdf;
    background-image: linear-gradient(to right, skyblue, white);
    border: 5px solid #1abc9c;
    border-radius: 20px;
    border-width: 20%;
    margin-left: 200px;
    margin-top: 100px;
    height: fit-content;
}

.topnav {
    background-color: #63ACE5;
    overflow: hidden;
    padding: 20px;
    margin: 0px;
    margin-left: 190px;
    margin-right: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-left: 0px;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: rgb(192, 192, 192);
    color: rgb(141, 132, 223);
}

.topnav a.active {
    background-color: rgb(4, 0, 245);
    color: white;
}

.topnav a.active:hover {
    background-color: rgb(192, 192, 192);
    color: rgb(141, 132, 223);
}

.topnav-right {
    float: right;
    border: none;
    font-size: 17px;
}

.topnav-right input[type=text] {
    float: left;
    padding: 6px;
    display: block;
    width: 40%;
    border-radius: 10px;
    margin-top: 8px;
    margin-right: 500px;
    font-size: 17px;
}

.notification {
    color: white;
    text-decoration: none;
    padding: 15px 26px;
    position: relative;
    display: inline-block;
    border-radius: 2px;
}

.notification:hover {
    background: red;
}

@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
        width: 100%;
        text-align: left;
    }
}